h1, h2, h3, h4, h5{
    font-family: 'Montserrat';
    font-weight: bold;
}
h1{
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 8% 3%;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}
body{
    font-family: 'Montserrat-black', sans-serif;
    text-align: center;
    font-size: 1rem; 
}
p {
    color: #8f8f8f;
}
.container-fluid{ 
    padding: 1% 15%;
}

/* Navigation Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

/* Title */

#navbarSupportedContent {
    margin-left: 62%;
}
#title {
    background-color: #ff4c68;
    color: #ffff;
}
.big-heading {
    padding:13% 0%;
    text-align: left;
}
.iphone-image {
    width: 24%;
    transform: rotate(30deg);
    position: absolute;
    margin: 2% -12%;
}
.big-title{
    margin-bottom: 10%;
    text-align: initial;
}
.btn-download{
    padding-top: 10%;
}

/* Features */

#features{
    background-color: #ffff;
    padding: 10% 15%;
    position: relative;
}
.icon{
margin-bottom: 1rem;
color: #ef8172;
}
.icon:hover{
color: #ff4c68;
}

/* TESTIMONAL */

#testimonials {
background-color: #ef8172;
color: #ffff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}

/* PRESS */

#press {
    background-color: #ef8172;
    padding: 1%;
}

.press-logo {
    width:15%;
    margin: 20px 20px 50px;
}
 
/* PRICE */

#pricing {
    padding: 100px;
}
.price-text {
    font-weight: bold;
}
.pricing-column{
    padding: 3% 2%;
}
.btn-price {
    width: 60%;
}

/* CTA  */
#cta {
    background-color: #ef8172;
    color: #ffff;
    padding: 7% 7%;
}
.title-cta {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.5;
}
.btn-cta {
    margin: 0.5%;  
}

/* FOOTER */

#footer {
    padding: 7% 7%;
    font-weight:unset;
}
.footer-logo {
    padding: 2% 2%;
}
.social-icon {
    padding: 1%;
    margin-bottom: 1%;
}


@media (max-width: 1400px) {
    #title{
        text-align: center;
    }

    .iphone-image {
        position: static;
        transform: rotate(0);
        width: 80%;
    }
}